<div class="bs-example">
  <form class="form-horizontal">
    <fieldset>
      <table>
        <tr>
          <td>
            <label class="control-label" for="brandtype">Product Type</label>
            <div class="controls" >
              <%= select_tag "product_type_id", options_from_collection_for_select(ProductType.all, "id", "p_type"), :prompt => "Select Any One", :onchange => "update_brands_div(this.value)" %>
            </div>
          </td>
          <td>
            <div class="control-group" style="margin-bottom: 2px;">
              <input name="product_type" class="form-control" id="add_product_type_val" placeholder="Add Product Type">
            </div>
          </td>
          <td>
            <div align="center">
              <button type="button" class="btn btn-success" id="add_product_type_btn">Add</button>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <label class="control-label" for="brandtype">Brand</label>
            <div class="controls" id = "brands_div">
              <%= select_tag "main_brand", options_from_collection_for_select(Brand.all, "id", "name"), :prompt => "Select Any One" %>
            </div>
          </td>
          <td>
            <div class="control-group" style="margin-bottom: 2px;">
              <input name="brand_id" class="form-control" id="add_brand_val" placeholder="Add Brand Type">
            </div>
          </td>
          <td>
            <div align="center">
              <button type="button" class="btn btn-success" id="add_brand_btn">Add</button>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <label class="control-label" for="brandtype">Brand Type</label>
            <div class="controls" id="spare_items_brand_div">
              <%= select_tag "brand_type_id", options_from_collection_for_select(BrandType.all, "id", "brand_name"), :prompt => "Select Any One" , :onchange => "update_spare_items_div(this.value)"%>
            </div>
          </td>
          <td>
            <div class="control-group" style="margin-bottom: 2px;">
              <input name="product_type" class="form-control" id="add_brand_type_val" placeholder="Add Product Spare">
            </div>
          </td>
          <td>
            <div align="center">
              <button type="button" class="btn btn-success" id="add_brand_type_btn">Add</button>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <label class="control-label" for="brandtype">Product Spare</label>
            <div class="controls"  id="spare_items_div">
              <%= select_tag "product_spare_id", options_from_collection_for_select(SpareItem.all, "id", "item_name"), :prompt => "Select Any One" %>
            </div>
          </td>

          <td>
            <div class="control-group" style="margin-bottom: 2px;">
               <div id="spare_div">
                  <input name="product_type" class="form-control " id="add_product_spare_val" placeholder="Enter Product Spare"></br>
                  <input name="product_price" class="form-control " id="add_product_spare_price" placeholder="Enter Price"></br>
                  <input name="product_qty" class="form-control " id="add_product_spare_qty" placeholder="Enter Qty">
              </div>
            </div>
          </td>
          <td>
            <div align="center">
              <button type="button" class="btn btn-success" id="add_product_spare_btn">Add</button>
            </div>
          </td>
        </tr>

      </table>
           <%= render :partial => "item_list" %>
    </fieldset>
  </form>
</div>
<script>
    jQuery("#add_product_type_btn").click(function(){
        var val = $("#add_product_type_val").val();
        if(val !=''){
            jQuery.ajax({
                url: "add_product_items",
                type: "GET",
                data: {"product_type_val" : val},
                dataType: "html",
                success: function(data) {
                    jQuery("#product_type_id").html(data);
                }
            });
        }
        else{
            alert("Product Type Should not be blank");
        }

    });

    jQuery("#add_brand_btn").click(function(){
                var item = $("#add_brand_val").val();
                var product = $("#product_type_id").val();

                if(item !='' && product != ''){
                    alert("twst");
                    jQuery.ajax({

                        url: "update_brands",
                        type: "GET",
                        data: {"brand_type_name" : item,"product_type" : product},
                        dataType: "html",
                        success: function(data) {
                            jQuery("#main_brand").html(data);
                        }
                    });
                }
                else{
                    alert("Product Type and Brand should not be blank");
                }

            }
    );

    jQuery("#add_brand_type_btn").click(function(){
                var item = $("#add_brand_type_val").val();
                var product = $("#product_type_id").val();
                var brand = $("#main_brand").val();
                if(item !='' && product != ''&& brand != ''){
                    jQuery.ajax({
                        url: "add_brand_types",
                        type: "GET",
                        data: {"brand_type_id" : item,"brand_id" : brand},
                        dataType: "html",
                        success: function(data) {
                            jQuery("#spare_items_brand_div").html(data);
                        }
                    });
                }
                else{
                    alert("Product Type, Brand and Brand Type should not be blank");
                }

            }
    );


    jQuery("#add_product_spare_btn").click(function(){
                var item = $("#add_product_spare_val").val();
                var product = $("#product_type_id").val();
                var brand = $("#main_brand").val();
                var brand_type = $("#brand_type_id").val();
                var spare_price = $("#add_product_spare_price").val();
                var spare_qty = $("#spare_quantity").val();

                if(item !='' && product != ''&& brand != ''&& brand_type != ''){
                    jQuery.ajax({
                        url: "update_spare_items",
                        type: "GET",
                        data: {"spare_name": item,"spare_price": spare_price,"spare_qty": spare_qty,"brand_type": brand_type},
                        dataType: "html",
                        success: function(data) {
                            jQuery("#spare_items_div").html(data);
                        }
                    });
                }
                else{
                    alert("Product Type Brand, Brand Type and Product Spare should not be blank");
                }

            }
    );
  function spare_items_list_div(brand_typeid,brand,product,spare_id) {
  jQuery.ajax({
    url: "add_spares",
    type: "GET",
    data: {"brand_type_id" : brand_typeid,"product_id" : product,"spare" : spare_id,"main_brand" : brand},
    dataType: "html",
    success: function(returnData){
     $("#abc").append(returnData);
   },
   error: function(e){
   }
  });
}

</script>