<div class="bs-example">
    		<fieldset>
		      <table style="margin:35px 0 0 105px">
		      	<%=form_tag("/admin/customer_report", :method=>:get) do |f| %>
      			<tr>
			      <td>
			      	  <div class="control-group">
			            <label class="control-label" for="inputEmail">Customer Name</label>
			            <div class="controls">
                          <%= text_field_tag "customer[name]",params[:customer][:name], :placeholder=>"Please enter customer name" %>
			            </div>
			        </div>
			      </td>
			      <td>
				<div class="control-group">
                                    <label class="control-label" for="inputEmail">Please Enter Billed Date</label>
                                    <div class="controls">
                                      <%= text_field_tag "bill[date]",params[:customer][:date], :class=>"datepicker" %>
                                    </div>
                                </div>
			      </td>
			  </tr>
			  <tr>
			      <td>
				      <div class="control-group">
				            <label class="control-label" for="inputEmail">Email</label>
				            <div class="controls">
				            	<%= text_field_tag "customer[email]",params[:customer][:email], :placeholder=>"Please enter Email" %>
<i class="icon-envelope"></i>
				            </div>
				      </div>
			      </td>
			      <td>
				      <div class="control-group">
				            <label class="control-label" for="inputEmail">Phone</label>
				            <div class="controls">
                              <%= text_field_tag "customer[phone]",params[:customer][:phone], :placeholder=>"Please enter phone" %>
				            </div>
				      </div>
			     </td>
			     </tr>
			     <tr>
			     <td>
				      <div class="control-group">
				            <%= submit_tag("Submit") %>
				      </div>
			     </td>
			     <td>
				      <div class="control-group">
				            <%=link_to("Click Here for pdf","/admin/report-hard-copy?customer_id=#{@customer.id}") unless @customer.blank?%>
				      </div>
			     </td>
			     </tr>
			     <%end%>
			  </tr>
			</table>
		</fieldset>
  <div id="reportprint">
  <center> <label><b>J.J.R Auto Mobiles Store</b> </label></center>
  <center> <label><b>Bills Details</b> </label></center>
  <table class="table">
    <thead>
    <tr>
      <th>sl</th>
      <th>Customer Name</th>
      <th>Customer Ph</th>
      <th>Bill No</th>
      <th>Discount</th>
      <th>Tax</th>
      <th>Total</th>
      <th>Print</th>
    </tr>
    </thead>
  <tbody id="abc">
      <%@bills.each_with_index do |bill,i|%>
        <tr>
        <td><%= i+1%></td>
        <td><%=bill.customer.try(:name)%></td>
        <td><%=bill.customer.try(:phone)%></td>
        <td><%=bill.bill_no%></td>
        <td><%= bill.discount%></td>
        <td><%= bill.tax%></td>
        <td><%= bill.total_amount %></td>
        <td><%=link_to("Click Here","/admin/print/#{bill.id}")%></td>
        </tr>
       <%end%>
     </tbody>
    </table>
</div>
  <center><button onclick="myFunctionprint()">Print</button></center>
    <%= paginate @bills unless @bills.class.to_s == 'Array'%>
  </div>
</div>
<script>
    function myFunctionprint()
    {
        var print = $("#reportprint").html();
        var winPrint = window.open('', '', 'left=0,top=0,width=800,height=600,toolbar=0,scrollbars=0,status=0');
        winPrint.document.write(print);
        winPrint.document.close();
        winPrint.focus();
        winPrint.print();
        winPrint.close();
    }
</script>