<div class="bs-example">
    		<fieldset>
		      <table style="margin:35px 0 0 105px">
		      	<%=form_tag("/admin/customer_report", :method=>:get) do |f| %>
      			<tr>
			      <td>
			      	  <div class="control-group">
			            <label class="control-label" for="inputEmail">Customer Name</label>
			            <div class="controls">
                          <%= text_field_tag "customer[name]",params[:customer][:name], :placeholder=>"Please enter customer name" %>
			            </div>
			        </div>
			      </td>
			      <td>
				<div class="control-group">
                                    <label class="control-label" for="inputEmail">Please Enter Billed Date</label>
                                    <div class="controls">
                                      <%= text_field_tag "bill[date]",params[:customer][:date], :class=>"datepicker" %>
                                    </div>
                                </div>
			      </td>
			  </tr>
			  <tr>
			      <td>
				      <div class="control-group">
				            <label class="control-label" for="inputEmail">Email</label>
				            <div class="controls">
				            	<%= text_field_tag "customer[email]",params[:customer][:email], :placeholder=>"Please enter Email" %>
<i class="icon-envelope"></i>
				            </div>
				      </div>
			      </td>
			      <td>
				      <div class="control-group">
				            <label class="control-label" for="inputEmail">Phone</label>
				            <div class="controls">
                              <%= text_field_tag "customer[phone]",params[:customer][:phone], :placeholder=>"Please enter phone" %>
				            </div>
				      </div>
			     </td>
			     </tr>
			     <tr>
			     <td>
				      <div class="control-group">
				            <%= submit_tag("Submit") %>
				      </div>
			     </td>
			     <td>
				      <div class="control-group">
				            <%=link_to("Click Here for pdf","/admin/report-hard-copy?customer_id=#{@customer.id}") unless @customer.blank?%>
				      </div>
			     </td>
			     </tr>
			     <%end%>
			  </tr>
			</table>
		</fieldset>

  <table class="table">
    <tr>
      <th>sl</th>
      <th>Bill No</th>
      <th>Discount</th>
      <th>Tax</th>
      <th>Total</th>
      <th>Print</th>
    </tr>
  </table>
  <div id="abc">
    <table class="table">
      <%@bills.each_with_index do |bill,i|%>
        <tr><td><%= i+1%></td>
            <td></td>
        <td><%=bill.bill_no%></td>
         <td></td>
        <td><%= bill.discount%></td>
            <td></td>
        <td><%= bill.tax%></td>
            <td></td>
        <td><%= bill.total_amount %></td>
            <td></td>
        <td><%=link_to("Click Here","/admin/print/#{bill.id}")%></td></tr>
       <%end%>
      
    </table>

    <%= paginate @bills unless @bills.class.to_s == 'Array'%>
  </div>
</div>
<script>

</script>