<table class="table">
		<tr>
			<td><%= @count%></td>
			<td><%= text_field_tag "item[#{@count}][name]",@item.item_name, :readonly => true%></td>
			<div class="col-xs-2">
			<td><%= text_field_tag "item[#{@count}][quantity]",@qty%></td>
			</div>
			<td><%= text_field_tag "item[#{@count}][price]", @item.price, :readonly => true%></td>
			<td><%= text_field_tag "item[#{@count}][total]",@total, :readonly => true %></td>
          <%= hidden_field_tag "customer",@customer.id%>
          <%= hidden_field_tag "item[#{@count}][spare_id]",@item.id%>
	</tr>
</table>
<script>
   update_grand_total("<%=@count%>")
   $("#item_<%= @count%>_quantity").change(function() {
   qty = this.value;
   price = <%= @item.price%>
   item_total = (qty * price)
   $('#item_<%= @count%>_total').val(item_total);
   update_grand_total("<%=@count%>")
});
</script>
