  <table class="table">
    <%@spares.each_with_index do |spare,index|%>
        <tr>
          <td><%= index+1%></td>
          <td> <%= spare.bill.supplier.name rescue false%></td>
          <td> <%= spare.spare_item.item_name%></td>
          <td> <%= spare.bill.total_amount%></td>
          <td> <%= spare.created_at%></td>
        </tr>
    <%end%>
  </table>
