<div class="bs-example">
  <%= form_tag({:action => 'save_supplier'}, {:class => 'form-horizontal',:id => "add_supplier11"}) do %>
      <fieldset>
        <table>
          <tr>
            <td>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Supplier Name</label>
                <div class="controls">
                  <%= select_tag "customer[name]", (options_from_collection_for_select(Supplier.all, "id", "name") + "<option value=new>Add New</option>"), :prompt => "Add New", :onchange => "supplier_div(this.value)" %>
                  <div class="supplier_name" style="display: none">
                  <input type="text" id="custemer_name" placeholder="Supplier Name" name="customer[name]">
                    </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="text" id="email" placeholder="Email" name="customer[email]"><i class="icon-envelope" ></i>
                </div>
              </div>
            </td>
            <td>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Phone</label>
                <div class="controls">
                  <input type="text" id="mobile" placeholder="Phone" name="customer[mobile]">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label" for="brandtype">Product Type</label>
              <div class="controls">
                <%= select_tag "product_typ_id", options_from_collection_for_select(ProductType.all, "id", "p_type"), :prompt => "Select Any One", :onchange => "update_brands_div(this.value)" %>
              </div>
            </td>
            <td>
              <label class="control-label" for="brand">Brand</label>
              <div class="controls" id="brands_div">
                <%= select("main","brand",[], :prompt => "Select a Product Type")%>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label" for="brandtype">Brand Type</label>
              <div class="controls" id="brand_types_div">
                <%= select("brand","type",[], :prompt => "Select a Brand")%>
              </div>
            </td>
            <td>
              <label class="control-label" for="productspare">Product Spare</label>
              <div class="controls" id="spare_items_div">
                <%= select("spare","spare_item_id",[], :prompt => "Select a Brand Type")%></br></br>
              </div>
              </div>
            </td>
          </tr>
          <td></td><td></td><td></td><td></td>
          <tr>
            <td>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Spare Price</label>
                <div class="controls">
                  <div class="supplier_name_price">
                    <input type="text" placeholder="Enter the price" name="bill[price]" id="spare_price">
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </fieldset>
      <br>
      <br>
      <div class="controls" align="center">
        <button type="button" class="btn btn-success" id="add_suppiler">Add</button>
      </div>
      <br>
      <br>
      <br>
      <div  class="spare_price_div1" style="display: none" >
        <b>Difference List</b>
      <table class="table">

        <thead>

        <tr>
          <th>sl</th>
          <th>Supiler Name</th>
          <th>Spare Item</th>
          <th>Price</th>
          </tr>
        </thead>
          <tbody id="spare_price_div">
          </tbody>
      </table>
      </div>
  <%end%>
  <div>
    <strong>Supplier List</strong>
  </div>
  <fieldset>
  <table class="table supplier_show">
    <thead>
    <tr>
      <th>sl</th>
      <th>Supiler Name</th>
      <th>Mobile</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody id="supplier_show">
      <%@suppliers.each_with_index do |supplier,index|%>
      <tr>

          <td><%= index+1%></td>
          <td> <%= supplier.name%></td>
        <td> <%= supplier.email%></td>
        <td> <%= supplier.mobile%></td>
      </tr>
      <%end%>
    </tbody>
  </table>

  </fieldset>

  <%= paginate @suppliers %>
    </div>


<script>
    var count = 0;
    $("#add_suppiler").click(function(){
        var item = $("#spare_spare_item_id").val();
        var price = $("#spare_price").val();
        var quantity = $("#spare_quantity").val();
        var email = $("#email").val();
        var mobile = $("#mobile").val();
        var product_typ = $("#product_typ_id").val();
        var brand = $("#main_brand").val();
        var brand_typ = $("#brand_type_id").val();
        var name = $("#supplier_form_name").val();
        if(name != '' && item != '' && price != '' &&  quantity != '' && email != ''&& mobile != '' &&  product_typ != '' && brand != ''&& brand_typ != '') {
        count = count+1;
        data = $( "#add_supplier11" ).serialize() + "&count=" + count;
        $.ajax({
            url: "/user/save_supplier",
            type: "get",
            dataType: "html",
            data: data,
            success: function(returnData){
                $("#supplier_show").append(returnData);
                $("#email").val("");
                $("#mobile").val("");
                $("#supplier_form_name").val("");
            },
            error: function(e){
            }
        });
        }
        else{
            alert("Please Enter Valid Data");
            return false;
        }
    });
    $("#customer_name").click(function(){
        var id = $("#customer_name").val();
        if(id == ""){
            $(".supplier_name").show();
            $("#email").val("");
            $("#mobile").val("");
            $("#custemer_name").addClass("supplier_form_name");
        }
        else{
            $(".supplier_name").hide();

        }
    });
</script>