<div class="bs-example">
    <%= form_tag({:action => 'save_invoice'}, {:class => 'form-horizontal',:id => "add_bill"}) do %>
      <fieldset>
      <table>
      <tr>
      <td>    
        <div class="control-group">
            <label class="control-label" for="inputEmail">Custemer Name</label>
            <div class="controls">
                <input type="text" id="custemer_name" placeholder="Custemer Name",name="customer[name]">
            </div>
        </div>
    </td>
    <td>  
        <div class="control-group">
            <label class="control-label" for="inputPassword">Date</label>
            <div class="controls">
                <input name="date" class="form-control datepicker" data-date-format="dd/mm/yyyy" id="checkout" placeholder="click here",name="customer[purchase_date]">
            </div>
        </div>
    </td>
    </tr>
    <tr>
      <td>
      <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="text" id="email" placeholder="Email"><i class="icon-envelope",name="customer[email]"></i>
            </div>
        </div>
    </td>
    <td>
      <div class="control-group">
            <label class="control-label" for="inputEmail">Phone</label>
            <div class="controls">
                <input type="text" id="email" placeholder="Phone",name="custome[phone]">
            </div>
        </div>
    </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="brandtype">Product Type</label>
        <div class="controls">
          <%= select_tag "product_typ_id", options_from_collection_for_select(ProductType.all, "id", "p_type"), :prompt => "Select Any One", :onchange => "update_brands_div(this.value)" %>
        </div>
      </td>
      <td>
        <label class="control-label" for="brand">Brand</label>
        <div class="controls" id="brands_div">
          <%= select("main","brand",[], :prompt => "Select a Product Type")%>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label" for="brandtype">Brand Type</label>
        <div class="controls" id="brand_types_div">
          <%= select("band","type",[], :prompt => "Select a Brand")%>
        </div>
      </td>
      <td>
        <label class="control-label" for="productspare">Product Spare</label>
        <div class="controls" id="spare_items_div">
          <%= select("spare","items",[], :prompt => "Select a Brand Type")%>
        </div>
      </td>
    </tr>
    </table>
   </fieldset>
   <br>
   <br>
   <div class="controls" align="center">
    <button type="button" class="btn btn-success" id="add_button">Add</button>
    </div>
    <br>
    <br>
    <br>
      <%end%>
      <%= form_tag({:action => 'save_invoice'}, {:class => 'form-horizontal'}) do %>
    <table class="table">
      <tr>
      <th>sl</th>
      <th>Item</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
      </tr>
    </table>
    <div id="abc">
      </div>
        <div class="" style="float: right; width: 45%; height: 100px;">
    	<label class="grand_total" for="grand_total" style="width: 150px;">Grand Total</label>
        <input type="text" id="grand_total" placeholder="Grand Total" style="float: left; margin: -28px 0px 0px 88px; style=">
    	<!--<button type="save" class="btn btn-success" id="save_item" style="float: right; margin: -30px 83px 0px 0px;">Save</button>-->
        <%= submit_tag "Saves", :class => "btn btn-success", :style => "float: right; margin: -30px 83px 0px 0px;"%>
    </div>
  <%end%>


</div>

<script>
var count = 0;
$("#add_button").click(function(){
  var item = $("#spare_items").val();

  count = count+1;
  data = "item=" + item + "&count=" + count;
$.ajax({
   url: "/user/add_bill",
   type: "get",
   dataType: "html",
   data: data,
   success: function(returnData){
     $("#abc").append(returnData);
   },
   error: function(e){
   }
});  
}); 
</script>
