<!DOCTYPE html>

<html>

<head>

  <title>J.J.R Auto Mobiles Store</title>

  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",

    "data-turbolinks-track" => true %>


  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->

  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->

</head>

<body class="<%= controller.controller_name %>">



<div id="user_nav">
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>


<div id="banner">

<div style="float: left; width: 234px;">
    <%= image_tag("bike_logo.jpg") %>
</div>
<div style="float: left; width: 1048px; height: 120px;">
<marquee style="text-align: center; height: 105px; margin: 32px 0px 0px; font-size: 56px;"><%= @page_title || "J.J.R Auto Mobiles Store" %> </marquee>
</div>
  </div>

 

  <div id="columns">

    <div id="side">

      <ul>

        <li><a href="/user/login_validate">Billing</a></li>

        <li><a href="/admin/product_feed">Item Master</a></li>

       <!-- <li><a href="http://www..../news">Stock Adjustment</a></li>-->

        <li><a href="/admin/report">Reports</a></li>
        <li><a href="http://www.google.com" target="_blank">Contact</a></li>
        <li><a href="/user/get_suppiler">Supplier</a></li>
      </ul>

    </div>

    <div id="main">

      <%= yield %><!-- <label id="code.depot.e.include"/> -->

    </div>

  </div>

</body>

</html>


